<div class="vista">
    <section id="galeria" class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/1.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/2.png" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/3.jpg"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/4.jpg"></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/5.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/6.jpeg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/7.jpeg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/8.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/9.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/10.png" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/11.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/12.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/13.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/14.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/15.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/16.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/17.webp" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/18.webp" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/19.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/20.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/21.jpg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/22.jpeg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/23.jpeg" ></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><img src="../../assets/fondos/24.jpeg" ></div>
        </div>

    </section>

</div>
<audio src="../../assets/Fear & Hunger 2_ Termina OST - Unknowable.mp3" autoplay></audio>