<div class="vista bgblack">
  
<div class="contaredor">
    <div class="text-center">
    <button type="button" class="botonesdescarga"><a href="https://drive.google.com/file/d/1G9dzDL6ckUQGFvIxLWMstSxU6xr8ITEp/view?pli=1" target="_blank" >Descargar PC</a></button>  
    <p class="mt-1">{{"Version para pc y mac." | titlecase}}</p> 
</div>
<div class="text-center">
    <button type="button" class="botonesdescarga">  <a href="https://drive.google.com/file/d/1G9dzDL6ckUQGFvIxLWMstSxU6xr8ITEp/view?pli=1" target="_blank" rel="noopener noreferrer">Descargar APK</a></button> 
    <p class="mt-1">{{"Version para android y ios." | titlecase}}</p>
</div>
</div>

 
</div> 
<audio src="../../assets/OST - The Ascension.mp3" autoplay></audio> 

