 <div class="vista">
        <table class="table">
            <tr>
                <th>Aparincia</th>
                <th>Nombre</th>
                <th>Tecnica y Ataques</th>
        
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-Guard.webp"></td>
                <td>Guardian</td>
                <td>Se encuentran en toda la mazmorra , facil si sigues estas indicaciones atacar brazo, aguijon y segundo brazo, caera sin atacar, mas facil de mas personajes tengas, al de la ballesta atacar a los brazos y al guardian con armadura evitar.</td>
            </tr>
           
            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Hound.webp"></td>
                <td>Perro</td>
                <td>Evitar a toda costa en la primera apricion , atacar en la cabeza. si son mas personejes que uno puede ser facil. </td>
            </tr>


            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Ghoul_(Enemy).webp"></td>
                <td>Ghoul</td>
                <td>Evitar , atacar a las piernas para que caiga , se puede usar nigromancia y sera tu aliado.</td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Maneba.webp"></td>
                <td>Maneba</td>
                <td>Evitar, atacar a la cabeza, se encuentran en las primeras zonas de la mazmorra.</td>
            </tr>


            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Black_Witch.webp"></td>
                <td>Bruja Negra </td>
                <td>Se encuentra en una trampa que hay en la primera zona , se puede evitar si solo sigues de largo , si la enfrentas que sean ataques a el torzo</td>
            </tr>


            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-Human_Hydra.webp"></td>
                <td>Masa De Carne</td>
                <td>Esta en una habitacion de la primera parte del juego , te pide que el des a la niña si se la das no te da nada a cambio, si le atacas no tiene forma de defenderse.</td>
            </tr>
              
            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Cavegnome.webp"></td>
                <td>Cavegnome</td>
                <td>Evitar no te da nada por matarlos , si te quedas quito no te atacan, mueren de un golpe pero si fallas llama a mas aliados.</td>
            </tr>
              
            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-Guard_(Moonless).webp" ></td>
                <td>Guardian Moonless</td>
                <td>Rara vez aparece en las profundiades de la masmorra , evitar a toca costa , atacar a brazo y piernas.</td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Miner_Spectre.webp"></td>
                <td>Miner Spectre</td>
                <td>Evitar a toda costa es imune a ataques fisicos solo a magicos , apertar hablidad y selecionar correr si no te queda de otra hacerlo hasta que puedas correr.</td>
            </tr>
           
            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Moonless_(Enemy).webp"></td>
                <td>Moonless</td>
                <td>Darle 2 pedazos de carne podriada y sera tu aliado , tiene ataque lacerante.</td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-Lizardman.webp"></td>
                <td>Lizerman</td>
                <td>Evitar a toda costa enemigo muy fuerte , atacar a el brazo y piernas luego cabeza, talvez suelte sus armas.</td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Priest.webp"></td>
                <td>Priest</td>
                <td>Atacar al torzo siempre moriran muy rapido y sueltan muchos objetos.</td>
            </tr>
            
            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Yellow_mage.webp"></td>
                <td>Mago amarillo</td>
                <td>No evitar correr hasta matarlo , atacar a la pierna para que no pueda bailar y no hacer daño.</td>
            </tr>
            
            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-Iron_Shakespeare.webp"></td>
                <td>Iron Shakespeare</td>
                <td>esta en los primeros niveles no atacar correr direcatamente es muy fuerte. <td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Crow_Mauler.webp"></td>
                <td>Crow Mauler</td>
                <td>Evitar, No dormir si te salta un mensaje sospechoso cuando le das a domir a una cama , como que sientes una presencia, y correr si ya esta en tu nivel, atacar al brazo y cabeza(creo).<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Cavedweller.webp"></td>
                <td>Cavedweller</td>
                <td>Enemigo debil , atacar al brazo de la pierna y luego torzo con la otra variante igual.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Lord_of_flies.webp"></td>
                <td>El señor de las moscas</td>
                <td>Esta en mahabre , intentar evitarlo , no se como se deba matar.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Old_Knight.webp" ></td>
                <td>Antiguo Caballero</td>
                <td>Esta en los niveles 7 de mineria , torzo diracamente , evitar y la otra variante espirituo evitar tambien.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Night_Lurch_(Infected).webp"></td>
                <td>Night Lur</td>
                <td>Es ciego , podes pasar de el solo que no te toque , piernas y brazos.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Molded2.webp"></td>
                <td>Molded</td>
                <td>Esta en el pasado de mahabre en el final del juego, torzo , o evitar son lentos.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/White_Angel.webp"></td>
                <td>Angel Blanco</td>
                <td>Esta en mahabre evitar si se puede , no se cual sea su deblidad.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Mumbler.webp"></td>
                <td>Mumbler</td>
                <td>Esta en mahabre evitar si se puede , no se cual sea su deblidad.<td>

            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-Skin_Granny2.webp"></td>
                <td>JEFE  Skin Granny</td>
                <td>Jefe en pasado de mahabre , tiene un ataque que te saca la cara y se la pone , no tengo idea como se pelea contra eso.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Valteil.webp"></td>
                <td>JEFE Valteil</td>
                <td>Tiene una gran debilidad ,dale para hablar con el y te dira preguntas si le contestas todas lo matas y sacas mucho daño por eso.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/Tormented_One.webp"></td>
                <td>JEFE  Tormented One</td>
                <td>tiene deblidad tienes que atacar a la rueda numero 2 y 3 en ese orden te dara turnos extra y pasara rapido a la otra forma , es fuerte.<td>
            </tr>

            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-Traces_of_Gro-goroth.webp"></td>
                <td>JEFE  Goroth</td>
                <td>No se cual sea su debilidad<td>
            </tr>


            <tr>
                <td><img src="../../assets/fearAdnHungry-characters/300px-God_of_fear_and_hunger5.webp"></td>
                <td>JEFE DiOS del miedo y el hambre</td>
                <td>en el final que le la niña se transforma , no se cual sea su debilidad extremadamente fuerte.<td>
            </tr>

            </table>

 
 </div> 
<audio src="../../assets/OST - Pulse.mp3" autoplay></audio> 

