 <div class="vista">
        <table>
            <tr>
                <th>Apariencia</th>
                <th>Nombre</th>
                <th>Tecnica y Ataques</th>
        
            </tr>

            <tr *ngFor="let enemigo of enemigos">
                <td><img src="{{enemigo.apariencia}}"></td>
                <td  style="width: 90px;">{{enemigo.nombre}}</td>
                <td>{{enemigo.tecnica_y_ataques}}</td>
            </tr> 

            </table>

 
 </div> 
<audio src="../../assets/OST - Pulse.mp3" autoplay></audio> 

